    @keyframes fadeLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-card{
    animation: fadeLeft 1500ms ease-in-out;
  }
  